.elementor-106 .elementor-element.elementor-element-2083fed9 {
    --display: flex;
    --min-height: 0px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --overlay-opacity: 0.5;
}

.elementor-106 .elementor-element.elementor-element-2083fed9:not(.elementor-motion-effects-element-type-background),
.elementor-106 .elementor-element.elementor-element-2083fed9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-primary);
}

.elementor-106 .elementor-element.elementor-element-2083fed9::before,
.elementor-106 .elementor-element.elementor-element-2083fed9>.elementor-background-video-container::before,
.elementor-106 .elementor-element.elementor-element-2083fed9>.e-con-inner>.elementor-background-video-container::before,
.elementor-106 .elementor-element.elementor-element-2083fed9>.elementor-background-slideshow::before,
.elementor-106 .elementor-element.elementor-element-2083fed9>.e-con-inner>.elementor-background-slideshow::before,
.elementor-106 .elementor-element.elementor-element-2083fed9>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-color: var( --e-global-color-43bd061);
    --background-overlay: '';
}

.elementor-106 .elementor-element.elementor-element-2083fed9,
.elementor-106 .elementor-element.elementor-element-2083fed9::before {
    --border-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-4d163a65 {
    --display: flex;
    --min-height: 530px;
    --background-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-4d163a65,
.elementor-106 .elementor-element.elementor-element-4d163a65::before {
    --border-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-7c0b4a {
    --display: flex;
    --min-height: 89px;
    --background-transition: 0.3s;
    --margin-top: 100px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-106 .elementor-element.elementor-element-3e7284ef.elementor-element {
    --align-self: center;
}

.elementor-106 .elementor-element.elementor-element-3e7284ef .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-106 .elementor-element.elementor-element-5fcbba {
    --display: flex;
    --min-height: 0px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 0px 0px;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --margin-top: 5px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-106 .elementor-element.elementor-element-5fcbba.e-con {
    --align-self: center;
}

.elementor-106 .elementor-element.elementor-element-e8bb709 {
    --display: flex;
    --min-height: 0px;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-e8bb709.e-con {
    --align-self: center;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-106 .elementor-element.elementor-element-c09fa63 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-c09fa63:not(.elementor-motion-effects-element-type-background),
.elementor-106 .elementor-element.elementor-element-c09fa63>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-43bd061);
}

.elementor-106 .elementor-element.elementor-element-c09fa63,
.elementor-106 .elementor-element.elementor-element-c09fa63::before {
    --border-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-22f4c25 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-2b74766 img {
    border-radius: 60px 60px 60px 60px;
}

.elementor-106 .elementor-element.elementor-element-92c772b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-92c772b:not(.elementor-motion-effects-element-type-background),
.elementor-106 .elementor-element.elementor-element-92c772b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-43bd061);
}

.elementor-106 .elementor-element.elementor-element-92c772b,
.elementor-106 .elementor-element.elementor-element-92c772b::before {
    --border-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-568f2f6 {
    --display: flex;
    --background-transition: 0.3s;
    --border-radius: 40px 40px 40px 40px;
}

.elementor-106 .elementor-element.elementor-element-568f2f6:not(.elementor-motion-effects-element-type-background),
.elementor-106 .elementor-element.elementor-element-568f2f6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-106 .elementor-element.elementor-element-568f2f6,
.elementor-106 .elementor-element.elementor-element-568f2f6::before {
    --border-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-ec17e85>.elementor-widget-container {
    border-radius: 40px 40px 40px 40px;
}

.elementor-106 .elementor-element.elementor-element-5ec957c {
    text-align: center;
}

.elementor-106 .elementor-element.elementor-element-5ec957c .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-106 .elementor-element.elementor-element-bcddee1 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.elementor-106 .elementor-element.elementor-element-bb8c712 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-106 .elementor-element.elementor-element-805164f .elementor-button {
    background-color: #3EB34D;
    font-family: "Roboto", Sans-serif;
    font-size: 39px;
    font-weight: 500;
    border-radius: 21px 21px 21px 21px;
}

:root {
    --page-title-display: none;
}

@media(max-width:767px) {
    .elementor-106 .elementor-element.elementor-element-2083fed9 {
        --content-width: 500px;
        --min-height: 0px;
        --overlay-opacity: 1;
    }
    .elementor-106 .elementor-element.elementor-element-4d163a65 {
        --min-height: 232px;
    }
    .elementor-106 .elementor-element.elementor-element-7c0b4a {
        --content-width: 500px;
        --min-height: 0px;
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: center;
        --align-items: center;
        --gap: 0px 0px;
        --margin-top: 45px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-106 .elementor-element.elementor-element-3e7284ef>.elementor-widget-container {
        padding: -6px -6px -6px -6px;
    }
    .elementor-106 .elementor-element.elementor-element-3e7284ef {
        text-align: center;
    }
    .elementor-106 .elementor-element.elementor-element-5fcbba {
        --width: 300px;
        --min-height: 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-106 .elementor-element.elementor-element-79a095b>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }
    .elementor-106 .elementor-element.elementor-element-79a095b img {
        max-width: 50%;
        height: 210px;
    }
    .elementor-106 .elementor-element.elementor-element-a90c45b.elementor-element {
        --flex-grow: 0;
        --flex-shrink: 0;
    }
    .elementor-106 .elementor-element.elementor-element-2b74766 img {
        border-radius: 3px 3px 3px 3px;
    }
    .elementor-106 .elementor-element.elementor-element-568f2f6 {
        --border-radius: 20px 20px 20px 20px;
    }
    .elementor-106 .elementor-element.elementor-element-5ec957c {
        text-align: center;
    }
    .elementor-106 .elementor-element.elementor-element-bcddee1>.elementor-widget-container {
        margin: -30px 0px 0px 0px;
    }
    .elementor-106 .elementor-element.elementor-element-bcddee1 {
        text-align: center;
    }
    .elementor-106 .elementor-element.elementor-element-805164f .elementor-button {
        font-size: 23px;
    }
}

@media(min-width:768px) {
    .elementor-106 .elementor-element.elementor-element-2083fed9 {
        --content-width: 1322px;
    }
    .elementor-106 .elementor-element.elementor-element-5fcbba {
        --width: 29%;
    }
    .elementor-106 .elementor-element.elementor-element-e8bb709 {
        --width: 27%;
    }
}